@model Arma3Event.Models.MatchFormViewModel
<h4>Informations générales</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Match.Name" class="control-label"></label>
            <input asp-for="Match.Name" class="form-control" />
            <span asp-validation-for="Match.Name" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Match.Date" class="control-label"></label>
                <input asp-for="Match.Date" class="form-control" />
                <span asp-validation-for="Match.Date" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Match.StartTime" class="control-label"></label>
                <input asp-for="Match.StartTime" class="form-control" />
                <span asp-validation-for="Match.StartTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Match.ShortDescription" class="control-label"></label>
            <input asp-for="Match.ShortDescription" class="form-control" />
            <span asp-validation-for="Match.ShortDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Match.Image" class="control-label"></label>
            <input asp-for="Match.Image" class="form-control" />
            <span asp-validation-for="Match.Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Match.GameMapID" class="control-label"></label>
            <select asp-for="Match.GameMapID" asp-items="Model.MapsDropdownList" class="form-control">
                <option value="">(Autre)</option>
            </select>
            <span asp-validation-for="Match.GameMapID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Match.Template" class="control-label"></label>
            <span class="input-group">
                <select asp-for="Match.Template" asp-items="Html.GetEnumSelectList<Arma3Event.Entities.MatchTemplate>()" class="form-control"></select>
                <span class="input-group-append">
                    <button class="btn btn-secondary" name="applyTemplate" value="applyTemplate">Appliquer</button>
                </span>
            </span>
            <span asp-validation-for="Match.Template" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Match.Description" class="control-label"></label>
            <textarea asp-for="Match.Description" class="form-control"></textarea>
            <span asp-validation-for="Match.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Match.RulesLink" class="control-label"></label>
            <input asp-for="Match.RulesLink" class="form-control" />
            <span asp-validation-for="Match.RulesLink" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Match.DiscordLink" class="control-label"></label>
            <input asp-for="Match.DiscordLink" class="form-control" />
            <span asp-validation-for="Match.DiscordLink" class="text-danger"></span>
        </div>
    </div>
</div>
<h4>Equipes</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @for (int s = 0; s < Model.Match.Sides.Count; ++s)
        {
            <input type="hidden" asp-for="Match.Sides[s].MatchSideID" />
        }
        <div class="form-row">
            @for (int s = 0; s < Model.Match.Sides.Count; ++s)
            {
                <div class="form-group col-md-4">
                    <label asp-for="Match.Sides[s].Name" class="control-label">Nom de l'équipe @ViewHelper.SideName(s)</label>
                    <input asp-for="Match.Sides[s].Name" class="form-control" />
                    <span asp-validation-for="Match.Sides[s].Name" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="form-row">
            @for (int s = 0; s < Model.Match.Sides.Count; ++s)
            {
                <div class="form-group col-md-4">
                    <label asp-for="Match.Sides[s].SquadsPolicy" class="control-label">Politique équipe @ViewHelper.SideName(s)</label>
                    <select asp-for="Match.Sides[s].SquadsPolicy" asp-items="Html.GetEnumSelectList<Arma3Event.Entities.SquadsPolicy>()" class="form-control">
                    </select>
                    <span asp-validation-for="Match.Sides[s].SquadsPolicy" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="form-row">
            @for (int s = 0; s < Model.Match.Sides.Count; ++s)
            {
                <div class="form-group col-md-4">
                    <label asp-for="Match.Sides[s].MaxUsersCount" class="control-label">Nombre d'inscrits maximum équipe @ViewHelper.SideName(s)</label>
                    <input asp-for="Match.Sides[s].MaxUsersCount" class="form-control" />
                    <span asp-validation-for="Match.Sides[s].SquadsPolicy" class="text-danger"></span>
                </div>
            }
        </div>
    </div>
</div>

<h4>Tours</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @for (int r = 0; r < Model.Match.Rounds.Count; ++r)
        {
            <input type="hidden" asp-for="Match.Rounds[r].RoundID" />
            @for (int s = 0; s < Model.Match.Sides.Count; ++s)
            {
                <input type="hidden" asp-for="Match.Rounds[r].Sides[s].RoundSideID" />
            }
    <div class="form-row">
        @for (int s = 0; s < Model.Match.Sides.Count; ++s)
        {

        <div class="form-group col-md-4">
            <label asp-for="Match.Rounds[r].Sides[s].FactionID" class="control-label">Tour @(r + 1) - Camp Equipe @ViewHelper.SideName(s)</label>
            <div class="input-group">
                <div class="input-group-prepend"><img class="factionflag" /></div>
                <select asp-for="Match.Rounds[r].Sides[s].GameSide" asp-items="Html.GetEnumSelectList<ArmaEvent.Arma3GameInfos.GameSide>()" class="form-control">
                </select>
                <select asp-for="Match.Rounds[r].Sides[s].FactionID" asp-items="Model.FactionsDropdownList" class="form-control faction">
                    <option value="">(Non précisé)</option>
                </select>
            </div>
            <span asp-validation-for="Match.Rounds[r].Sides[s].FactionID" class="text-danger"></span>
        </div>

        }
    </div>
        }
    </div>
</div>
<script>
    var factions = @Json.Serialize(Model.FactionsData);
</script>