@model Arma3Event.Entities.Match

@{
    ViewData["Title"] = Model.Name;
}

@section NavBar  {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Administration</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
}

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

@if (Model.TacMap == null && !string.IsNullOrEmpty(Model.WorldName))
{
    <p class="alert alert-warning" role="alert">Carte momentanément indisponible, maps.plan-ops.fr ne semble pas opérationnel.</p>
}

<div>
    <h3>Informations générales</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorldName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorldName)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-12">
            @Html.Raw(Model.Description)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MatchID" class="btn btn-sm btn-secondary">Modifier les informations générales</a>
    <a class="btn btn-sm btn-secondary" asp-controller="AdminReviewPersist" asp-action="Match" asp-route-id="@Model.MatchID">
        <i class="fas fa-search"></i> Passer en revue l'équipement
    </a>
    @if (Model.TacMap != null)
    {
        <a href="@Model.TacMap.ReadWriteHref" class="btn btn-sm btn-secondary" target="_blank">
            <i class="fas fa-map"></i> Modifier la carte de situation (sur maps.plan-ops.fr)
        </a>
    }
</p>

<div>
    <h3>Informations techniques</h3>
    <hr />

    @if (Model.MatchTechnicalInfos == null)
    {
        <p>Les informations techniques ne sont pas encore définies.</p>
        <p>
            <a asp-controller="AdminMatchTechnicalInfos" asp-action="Create" asp-route-matchID="@Model.MatchID" class="btn btn-sm btn-secondary">Définir les informations techniques</a>
        </p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">
                Serveur de jeu
            </dt>
            <dd class="col-sm-10">
                @Model.MatchTechnicalInfos.GameServerAddress:@Model.MatchTechnicalInfos.GameServerPort
            </dd>
            <dt class="col-sm-2">
                Communication vocale
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MatchTechnicalInfos.VoipSystem)
            </dd>
            <dt class="col-sm-2">
                Serveur TeamSpeak
            </dt>
            <dd class="col-sm-10">
                @Model.MatchTechnicalInfos.VoipServerAddress:@Model.MatchTechnicalInfos.VoipServerPort
            </dd>
            <dt class="col-sm-2">
                Mods
            </dt>
            <dd class="col-sm-10">
                <a class="btn btn-secondary btn-sm" asp-action="PreviewModPack" asp-route-id="@Model.MatchID">
                    Aperçu du modpack
                    <span class="badge badge-primary">
                        @Html.DisplayFor(model => model.MatchTechnicalInfos.ModsCount)
                    </span>
                </a>
            </dd>
            @if (Model.MatchTechnicalInfos.HoursBeforeRevealPasswords != null)
            {
                <dt class="col-sm-2">
                    Accès
                </dt>
                <dd class="col-sm-10">
                    Les mots de passe sont révélés aux participants <strong>@Model.MatchTechnicalInfos.HoursBeforeRevealPasswords</strong> heures avant le début
                </dd>
            }
        </dl>
        <p>
            <a asp-controller="AdminMatchTechnicalInfos" asp-action="Edit" asp-route-id="@Model.MatchTechnicalInfos.MatchTechnicalInfosID" class="btn btn-sm btn-secondary">Modifier les informations techniques</a>
        </p>
    }
</div>


@*<div>
        <div class="row">
            @foreach (var side in Model.Sides)
            {
                <div class="col-md-6">
                    <p class="h4 text-center">@side.Name</p>
                </div>
            }
        </div>
    </div>*@
<div>
    @foreach (var round in Model.Rounds)
    {
        <h3><a name="round-@round.RoundID"></a>Manche #@round.Number</h3>
        <hr />

        <div class="row" style="margin-bottom:2em;">
            @foreach (var side in round.Sides)
            {
                <div class="@ViewHelper.SideColClass(round.Sides)">
                    <h4 class="text-center"><img src="@ViewHelper.Icon(side.Faction)" alt="" width="64" /><br />@Html.DisplayFor(m => @side.Faction.Name)<br />@side.MatchSide.Name</h4>
                    <div class="d-flex mt-1 mb-1">
                        <div class="mr-1">
                            <a class="btn btn-sm btn-secondary" asp-controller="@ControllersName.AdminSquads" asp-action="Create" asp-route-roundSideID="@side.RoundSideID">Créer un groupe</a>
                            @if (round.Number > 1 && side.MatchSide.SquadsPolicy != Arma3Event.Entities.SquadsPolicy.Unrestricted)
                            {
                                <a class="btn btn-sm btn-secondary" asp-action="DuplicateFromPrevious" asp-route-id="@Model.MatchID" asp-route-roundId="@side.RoundID" asp-route-roundSideID="@side.RoundSideID">Dupliquer depuis la manche précédente</a>
                            }
                        </div>
                        @if (side.MatchSide.SquadsPolicy != Arma3Event.Entities.SquadsPolicy.Unrestricted)
                        {
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dupliquer depuis une autre opération</button>
                                <div class="dropdown-menu">
                                    @foreach (Arma3Event.Entities.RoundSide otherRoundSide in ViewBag.DuplicableRoundSides)
                                    {
                                        <a class="dropdown-item" asp-action="DuplicateFromOther"
                                           asp-route-id="@Model.MatchID"
                                           asp-route-roundSideID="@side.RoundSideID"
                                           asp-route-otherRoundSideID="@otherRoundSide.RoundSideID">@otherRoundSide.MatchSide.Match.Name - @otherRoundSide.MatchSide.Name</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <table class="table">
                        <colgroup>
                            <col width="20" />
                            <col />
                            <col width="200" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Libellé</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var squad in side.Squads.OrderBy(s => s.UniqueDesignation))
                            {
                                <tr>
                                    <td><a class="badge badge-dark" asp-controller="@ControllersName.AdminSquads" asp-action="Details" asp-route-id="@squad.RoundSquadID">@Html.DisplayFor(model => squad.UniqueDesignation)</a></td>
                                    <td><a asp-controller="@ControllersName.AdminSquads" asp-action="Details" asp-route-id="@squad.RoundSquadID">@Html.DisplayFor(model => squad.Name)</a></td>
                                    <td>
                                        <a asp-controller="@ControllersName.AdminSquads" asp-action="Edit" asp-route-id="@squad.RoundSquadID" class="btn btn-sm btn-secondary">Modifier</a>
                                        <a asp-controller="@ControllersName.AdminSquads" asp-action="Delete" asp-route-id="@squad.RoundSquadID" class="btn btn-sm btn-danger">Supprimer</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
</div>
<div>
    <h3><a name="users"></a>Inscrits (@Model.Users.Count())</h3>
    <hr />
    <div class="row" style="margin-bottom:2em;">
        @foreach (var side in Model.Sides)
        {
            <div class="@ViewHelper.SideColClass(Model.Sides)">
                <h4 class="text-center">@side.Name (@side.Users?.Count())</h4>
                <p><a class="btn btn-sm btn-secondary" asp-controller="@ControllersName.Events" asp-action="Subscription" asp-route-id="@Model.MatchID" asp-route-matchSideID="@side.MatchSideID">Lien d'invitation</a></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Utilisateur</th>
                            @foreach (var round in Model.Rounds)
                            {
                                <th>Manche @round.Number</th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in side.Users ?? new List<Arma3Event.Entities.MatchUser>())
                        {
                            <tr>
                                <td>
                                    <a asp-controller="@ControllersName.AdminMatchUsers" asp-action="Details" asp-route-id="@user.MatchUserID">
                                        @user.User.Name
                                    </a>
                                </td>
                                @foreach (var round in Model.Rounds)
                                {
                                    var slot = user.Slots.FirstOrDefault(s => s.Squad.Side.RoundID == round.RoundID);

                                    if (slot == null)
                                    {
                                        <td>(non assigné)</td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a asp-controller="@ControllersName.AdminSquads" asp-action="Details" asp-route-id="@slot.Squad.RoundSquadID" title="@slot.Squad.Name" class="badge badge-dark">@slot.Squad.UniqueDesignation</a>
                                            <span class="badge badge-secondary @slot.Role">@Html.DisplayFor(m => slot.Role)</span>
                                            @slot.Label
                                        </td>
                                    }
                                }
                                <td>
                                    <form asp-action="ApproveSlots" asp-route-id="@Model.MatchID" asp-route-matchUserID="@user.MatchUserID">
                                        <a class="btn btn-sm btn-secondary" asp-controller="@ControllersName.AdminMatchUsers" asp-action="Edit" asp-route-id="@user.MatchUserID">
                                            Modifier
                                        </a>
                                        @if (!user.Slots.Any(s => s.IsValidated))
                                        {
                                            <button class="btn btn-sm btn-success">Valider l'inscription</button>
                                        }
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <h4 class="text-center"><a name="unassigned"></a>Non affiliés (@Model.Users.Count(u => u.MatchSideID == null))</h4>
    <p>
        <a class="btn btn-sm btn-secondary" asp-controller="@ControllersName.Events" asp-action="Subscription" asp-route-id="@Model.MatchID">Lien d'invitation</a>
        <a class="btn btn-sm btn-secondary" asp-controller="@ControllersName.AdminMatchUsers" asp-action="Create" asp-route-matchID="@Model.MatchID">Inscrire un utilisateur</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users.Where(u => u.MatchSideID == null))
            {
                <tr>
                    <td>
                        <a asp-controller="@ControllersName.AdminMatchUsers" asp-action="Details" asp-route-id="@user.MatchUserID">
                            @user.User.Name
                        </a>
                    </td>
                    <td>
                        <form asp-action="SetUserSide" asp-route-matchUserId="@user.MatchUserID">
                            @for (int s = 0; s < Model.Sides.Count; ++s)
                            {
                                <button name="matchSideId" value="@Model.Sides[s].MatchSideID" class="btn btn-sm btn-secondary">@Model.Sides[s].Name</button>
                            }
                            <a asp-controller="@ControllersName.AdminMatchUsers" asp-action="Delete" asp-route-id="@user.MatchUserID" class="btn btn-sm btn-danger">Exclure</a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

