@model Arma3Event.Models.MapViewModel

@{
    ViewData["Title"] = Model.Match.MapInfos?.title;
    ViewData["TitleStyle"] = ViewHelper.Style(Model.Match.MapInfos);
}

@section NavBar  {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Opérations</a></li>
            <li class="breadcrumb-item"><a asp-action="Details" asp-route-id="@Model.Match.MatchID">@Model.Match.Name</a></li>
            @if (Model.Round != null && Model.Match.Template != Arma3Event.Entities.MatchTemplate.SingleSideCooperative)
            {
                <li class="breadcrumb-item" aria-current="page">Manche #@Model.Round.Number</li>
            }
            @*@if (Model.RoundSide != null)
                {
                    <li class="breadcrumb-item" aria-current="page">@Model.RoundSide.MatchSide.Name</li>
                    <li class="breadcrumb-item active" aria-current="page">Carte partagée</li>
                }
                else
                {*@
            <li class="breadcrumb-item active" aria-current="page">Carte de situation</li>
            @*}*@
        </ol>
    </nav>
}
@section Title {
    <p><span>@Model.Match.Name</span></p>
    <h1><span>@ViewData["Title"]</span></h1>
}

@if (Model.Match.TacMap != null)
{
    @if (Model.CanEditMap)
    {
        <p>
            <a href="@Model.Match.TacMap.ReadWriteHref" class="btn btn-sm btn-secondary" target="_blank">
                <i class="fas fa-pen"></i> Modifier la carte (sur maps.plan-ops.fr)
            </a>
        </p>
    }

    @await Component.InvokeAsync("LiveMap", new { mapId = Model.Match.TacMap.ToMapId(), worldName = Model.Match.TacMap.WorldName, isReadonly = true, hub = Model.Hub })
}
else
{
    <p class="alert alert-warning" role="alert">Carte momentanément indisponible.</p>
}