@model Arma3Event.Models.MapViewModel

@{
    ViewData["Title"] = Model.GameMap.Name;
    ViewData["TitleStyle"] = $"background-image: url({Model.GameMap.Image});";
}

@section NavBar  {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Evénements</a></li>
            <li class="breadcrumb-item"><a asp-action="Details" asp-route-id="@Model.Match.MatchID">@Model.Match.Name</a></li>
            @if (Model.Round != null && Model.Match.Template != Arma3Event.Entities.MatchTemplate.SingleSideCooperative)
            {
                <li class="breadcrumb-item" aria-current="page">Manche #@Model.Round.Number</li>
            }
            @if (Model.RoundSide != null)
            {
                <li class="breadcrumb-item" aria-current="page">@Model.RoundSide.MatchSide.Name</li>
                <li class="breadcrumb-item active" aria-current="page">Carte partagée</li>
            }
            else
            {
                <li class="breadcrumb-item active" aria-current="page">Carte de situation</li>
            }
        </ol>
    </nav>
}
@section Title {

    <p><span>@Model.Match.Name</span></p>
    <h1><span>@ViewData["Title"]</span></h1>

}

<div class="btn-toolbar mb-2 justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div style="width:300px;">


        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" title="Déplacer la carte" style="width:45px;">
                <input class="maptool" type="radio" name="tool" id="tool-hand"><i class="far fa-hand-paper"></i>
            </label>
            @if (Model.CanEditMap)
            {
                <label class="btn btn-secondary" title="Pointer sur la carte" style="width:45px;">
                    <input class="maptool" type="radio" name="tool" id="tool-point"><i class="far fa-hand-pointer"></i>
                </label>
                <label class="btn btn-secondary" title="Insérer un symbole OTAN APP-6 (D)" style="width:45px;">
                    <input class="maptool" type="radio" name="tool" id="tool-mil"><img height="16" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAAzCAYAAADfP/VGAAACTElEQVRoge3ZsUsCcRTA8TdZaurZmJG2RtASURBI0BRELVG0BBFYi0tDkQSOQf0BTTW1FU01tQhBtNSWi8NFFNSc82soT9PTu/N+7/d+d+fwQLg70C8f7n73EwAg0hvbAxEAwN5Yjt4Sqz+WQC2VDvwkhkYwFI2ZxwrHk8aB1MQUbl7eY1HHQM7q6RVqw5lfPHGtNZaWSmPu5glHZ+aMaNn8IfsXlzkHL984uZ4zfv/44hrmSxXzWLWL5veOAqesUVM4kcSl4zMs6oiFcrVzrKKOgVFmpmn38d04bitWEJS109Q4jmL5UZmVJlex/KTMjiYhsbyszIkmYbG8qKxZ0/LJue1rhcTygrJuNZHEUlmZG02ksVRSJkITeSwVlInSJC0WhzLRmqTGkqmMQhNLLEpllJrYYlEoo9bEHkuEMlmalIjlRplMTUrFcqKMQ5Nysewo49KkbCwzZbM7+6yalI5lpgwAsC8aY9GkfKzmexP3O6aysczuTarsZCgTy+pJp8JOhhKxnDzpOJWxxup23cSljC2WiHWTbGXSY4lehctUJjUW5SpchjIpsWS901ErI4/F8U5HpYwsFvcOAYUyklgq7BBQKBMai1sTtTJhsf5p0gbZdwgolLmOpaomCmWuYnlBk0hlXcXymiZRyhzH8rImt8psx/KLJjfKbMXyo6ZulHWM5XdN7Wb79tlUWdtYQdJkV9nGxV1rrFB0wDhpbGEF86UKFsrVQM7W9QNmprPN/zTVY/XGcl5rsXQA+AKAt7/PvanPBwB8AoD+A4WfYoYlQx+dAAAAAElFTkSuQmCC" />
                </label>
                <label class="btn btn-secondary" title="Insérer un symbole générique" style="width:45px;">
                    <input class="maptool" type="radio" name="tool" id="tool-basic" data-toggle="collapse">●
                </label>
                <label class="btn btn-secondary" title="Insérer une ligne" style="width:45px;">
                    <input class="maptool" type="radio" name="tool" id="tool-line" data-toggle="collapse">╱
                </label>

            }
        </div>
        <select id="tool-color" class="form-control form-control-sm ml-1" data-width="45px" style="width:45px;">
            @foreach (var color in Arma3Event.Arma3GameInfos.GameMarkerColorHelper.GetAll())
            {
                <option style="background: #@Arma3Event.Arma3GameInfos.GameMarkerColorHelper.ToHexa(color);" data-content="<div style='background: #@Arma3Event.Arma3GameInfos.GameMarkerColorHelper.ToHexa(color); width:20px; height:20px;'/>" value="@color">&nbsp;</option>
            }
        </select>
    </div>
    <div class="input-group" style="width:90px;">
        <input type="text" class="form-control form-control-sm text-center" id="coordinates" readonly="readonly" />
    </div>
    <div class="btn-group btn-group-sm btn-group-toggle" style="width:300px;">

        @if (Model.Match.Rounds.Count == 1)
        {
            <a class="btn btn-secondary @(Model.Round == null ? "active" : "")" asp-action="Map" asp-route-id="@Model.Match.MatchID" asp-fragment="map">
                Carte de situation
            </a>
            <a class="btn btn-secondary @(Model.Round != null ? "active" : "")" asp-action="Map" asp-route-id="@Model.Match.MatchID" asp-route-roundId="@Model.Match.Rounds.First().RoundID" asp-fragment="map">
                Carte partagée
            </a>
        }
        else
        {
            <a class="btn btn-secondary @(Model.Round == null ? "active" : "")" asp-action="Map" asp-route-id="@Model.Match.MatchID" asp-fragment="map">
                Situation
            </a>
            foreach (var round in Model.Match.Rounds.OrderBy(r => r.Number))
            {
                <a class="btn btn-secondary @(Model.Round?.RoundID == round.RoundID ? "active" : "")" asp-action="Map" asp-route-id="@Model.Match.MatchID" asp-route-roundId="@round.RoundID" asp-fragment="map">
                    Manche #@round.Number
                </a>
            }
        }
    </div>
</div>

<div class="alert alert-danger" role="alert" id="connectionlost" style="display:none;">
    La connection a été perdue avec le serveur. <a asp-action="Map" asp-route-id="@Model.Match.MatchID" asp-route-roundId="@Model.Round?.RoundID">Actualiser la page pour la rétablir</a>.
</div>

<div class="map" id="map" style="width:100%; height:80vh; margin:0;padding:0;border:0;">
</div>


<div class="modal" tabindex="-1" role="dialog" id="milsymbol">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="milsymbol-grid"></span>
                    : Symbole OTAN APP-6 (D)
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bg-light text-center mb-1 p-1">
                    <div id="symbolNumber" class="text-dark">
                    </div>
                    <div id="symbolPreview">
                    </div>
                </div>
                <div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="id2" class="control-label">Identité</label>
                            <select id="id2" class="form-control  form-control-sm">
                                <option value="0">En attente (jaune)</option>
                                <option value="1">Inconnu (jaune)</option>
                                <option value="2">Présumé ami (bleu)</option>
                                <option value="3" selected="selected">Ami (bleu)</option>
                                <option value="4">Neutre (vert)</option>
                                <option value="5">Suspect (rouge)</option>
                                <option value="6">Hostile (rouge)</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="set" class="control-label">Jeu de symboles</label>
                            <select id="set" class="form-control  form-control-sm">
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="status" class="control-label">Statut</label>
                            <select id="status" class="form-control  form-control-sm">
                                <option value="0" selected="selected">Présent</option>
                                <option value="1">Prévu, anticipé, supecté</option>
                                <option value="2">Présent/Capacité complète</option>
                                <option value="3">Présent/Endomagé</option>
                                <option value="4">Présent/Détruit</option>
                                <option value="5">Présent/Complet</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="hq" class="control-label">HQ, TF</label>
                            <select id="hq" class="form-control  form-control-sm">
                                <option value="0" selected="selected">n/a</option>
                                <option value="1">Feint/Dummy</option>
                                <option value="2">Headquarters</option>
                                <option value="3">Feint/Dummy Headquarters</option>
                                <option value="4">Task Force</option>
                                <option value="5">Feint/Dummy Task Force</option>
                                <option value="6">Task Force Headquarters</option>
                                <option value="7">Feint/Dummy Task Force Headquarters</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="icon" class="control-label">Symbole</label>
                            <select id="icon" class="form-control  form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="mod1" class="control-label">Modificateur 1</label>
                            <select id="mod1" class="form-control  form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="mod2" class="control-label">Modificateur 2</label>
                            <select id="mod2" class="form-control  form-control-sm" data-live-search="true">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="size" class="control-label">Echelon</label>
                            <select id="size" class="form-control  form-control-sm">
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="uniqueDesignation" class="control-label">Identifiant unique</label>
                            <input type="text" maxlength="21" id="uniqueDesignation" class="form-control  form-control-sm" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="direction" class="control-label">Direction (mil)</label>
                            <input type="number" max="6400" min="0" id="direction" class="form-control  form-control-sm" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="reinforcedReduced" class="control-label">Renforcé</label>
                            <select id="reinforcedReduced" class="form-control  form-control-sm">
                                <option value=""></option>
                                <option value="(+)">(+) reinforced</option>
                                <option value="(-)">(-) reduced</option>
                                <option value="(±)">(±) reinforced and reduced</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="higherFormation" class="control-label">Higher Formation</label>
                            <input type="text" id="higherFormation" class="form-control  form-control-sm" />
                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-5" id="milsymbol-delete">Supprimer</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" id="milsymbol-insert">Insérer</button>
                <button type="button" class="btn btn-success" id="milsymbol-update">Modifier</button>
            </div>
        </div>
    </div>
</div>




<div class="modal" tabindex="-1" role="dialog" id="basicsymbol">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="basicsymbol-grid"></span>
                    : Symbole basique
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="basic-type" class="control-label">Forme</label>
                            <select id="basic-type" class="form-control">
                                @foreach (var type in Arma3Event.Arma3GameInfos.GameMarkerTypeHelper.GetAll())
                                {
                                    <option data-content="<img src='/img/markers/@(type).png' height='24' /> @Html.DisplayFor(m => type)" value="@type">@Html.DisplayFor(m => type)</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="basic-color" class="control-label">Couleur</label>
                            <select id="basic-color" class="form-control">
                                @foreach (var color in Arma3Event.Arma3GameInfos.GameMarkerColorHelper.GetAll())
                                {
                                    <option style="background: #@Arma3Event.Arma3GameInfos.GameMarkerColorHelper.ToHexa(color);" value="@color">@Html.DisplayFor(m => color)</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="basic-dir" class="control-label">Rotation (mil)</label>
                            <input type="number" max="6400" min="0" id="basic-dir" class="form-control" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="basic-label" class="control-label">Libellé</label>
                            <input type="text" id="basic-label" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-5" id="basicsymbol-delete">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" id="basicsymbol-insert">Insérer</button>
                <button type="button" class="btn btn-success" id="basicsymbol-update">Modifier</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="line">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Ligne
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="line-color" class="control-label">Couleur</label>
                            <select id="line-color" class="form-control">
                                @foreach (var color in Arma3Event.Arma3GameInfos.GameMarkerColorHelper.GetAll())
                                {
                                    <option style="background: #@Arma3Event.Arma3GameInfos.GameMarkerColorHelper.ToHexa(color);" value="@color">@Html.DisplayFor(m => color)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-5" id="line-delete">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" id="line-update">Modifier</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" />
}

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin="">
    </script>
    <script src="https://unpkg.com/@@microsoft/signalr@3.1.4/dist/browser/signalr.min.js">
    </script>
    <script src="https://unpkg.com/milsymbol@2.0.0/dist/milsymbol.js">
    </script>
    <script src="https://unpkg.com/milstd@0.1.6/milstd.js">
    </script>
    <script src="https://unpkg.com/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/mapUtils.js" asp-append-version="true">
    </script>
    <script src="~/js/milstdExtra.js" asp-append-version="true">
    </script>
    <script>

        var mapHubInfos = @Json.Serialize(new {
                         mapId = new Arma3Event.Hubs.MapId()
                         {
                             matchID = Model.Match.MatchID,
                             roundSideID = Model.RoundSide?.RoundSideID
                         },
                         canEdit = Model.CanEditMap
                     });
        var colors = @Json.Serialize(Arma3Event.Arma3GameInfos.GameMarkerColorHelper.GetAll().ToDictionary(k => k.ToString(), k => Arma3Event.Arma3GameInfos.GameMarkerColorHelper.ToHexa(k)));
    </script>
    <script src="~/js/map.js" asp-append-version="true">
    </script>
    <script src="~/maps/@(Model.GameMap.WebMap).js" asp-append-version="true">
    </script>
}
