
@model Arma3Event.Models.SignInViewModel

@{
    if (Model.Event != null)
    {
        ViewData["Title"] = $"{Model.Event.Name} - Inscription";
        ViewData["Description"] = Model.Event.ShortDescription;
        if (!string.IsNullOrEmpty(Model.Event.Image))
        {
            ViewData["TitleStyle"] = $"background-image: url({Model.Event.Image});";
        }
    }
    else
    {
        ViewData["Title"] = "Se connecter";
    }

}

@section Title { <h1><span>Se connecter</span></h1> }

@if (Model.Event != null)
{
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Inscription</h4>
        <p>Pour pouvoir vous inscrire, il est nécessaire de se connecter avec Steam.<br />L'inscription à l'opération se fera dans un écran de confirmation après.</p>
        <p>Vous pouvez également contacter un organisateur pour qu'il procéde à votre inscription,<br />il vous transmettra alors un mot de passe pour l'accès au site.</p>
    </div>
}

<p class="text-muted">
    Pour plus d'informations sur les traitements effectués, merci de vous référez aux <a class="text-muted" asp-controller="@ControllersName.Home" asp-action="Privacy">mentions légales</a>.
</p>

<div>
    @if (Model.Event == null)
    {
        <h3>Se connecter avec Steam</h3>
    }
    <p class="text-muted">Nous ne stockons des données que si vous vous inscrivez à une opération.<br />Steam ne nous transmet que le nom de votre profil et votre identifiant technique (steamid).</p>
    @foreach (var scheme in Model.Providers.OrderBy(p => p.DisplayName))
    {
        <form method="post" asp-action="SignIn">
            <input type="hidden" name="Provider" value="@scheme.Name" />
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="isPersistent" name="isPersistent">
                    <label class="form-check-label" for="isPersistent">
                        Se rappeler de moi
                    </label>
                </div>
            </div>
            <button class="btn btn-success m-1" type="submit">Se connecter avec @scheme.DisplayName</button>
        </form>
    }
</div>
@if (Model.Event == null)
{
    <div class="mt-5">
        <h3>Se connecter avec un mot de passe</h3>
        <p class="text-muted">Si votre inscription a été faite par organisateur, vous pouvez utiliser le mot de passe qui vous a été transmis.</p>

        <form method="post" asp-action="SignInPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="login">Identifiant</label>
                    <input type="text" class="form-control form-control-sm" id="login" name="login" />
                </div>
                <div class="col-md-3 form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control form-control-sm" id="password" name="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="isPersistent" name="isPersistent">
                    <label class="form-check-label" for="isPersistent">
                        Se rappeler de moi
                    </label>
                </div>
            </div>
            <button class="btn btn-success m-1" type="submit">Se connecter</button>
        </form>
    </div>
}
